---
import '@fontsource-variable/inter'
import { Icon } from 'astro-icon/components'
import StatItem from '../components/StatItem.astro'

const techStack = [
  {
    name: 'HTML5',
    icon: 'devicon:html5',
  },
  {
    name: 'CSS3',
    icon: 'devicon:css3',
  },
  {
    name: 'JavaScript',
    icon: 'devicon:javascript',
  },
  {
    name: 'TypeScript',
    icon: 'devicon:typescript',
  },
  {
    name: 'Vue',
    icon: 'devicon:vuejs',
  },
  {
    name: 'Nuxt',
    icon: 'logos:nuxt-icon',
  },
  {
    name: 'React',
    icon: 'devicon:react',
  },
  {
    name: 'Astro',
    icon: 'devicon:astro',
  },
  {
    name: 'Tailwind CSS',
    icon: 'devicon:tailwindcss',
  },
  {
    name: 'Node.js',
    icon: 'devicon:nodejs',
  },
  {
    name: 'Hono',
    icon: 'logos:hono',
  },
  {
    name: 'PostgreSQL',
    icon: 'devicon:postgresql',
  },
  {
    name: 'Firebase',
    icon: 'devicon:firebase',
  },
  {
    name: 'Supabase',
    icon: 'devicon:supabase',
  },
  {
    name: 'CloudFlare',
    icon: 'devicon:cloudflare',
  },
]
---

<html lang="en" class="bg-gray-950">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="text-gray-200">
    <div
      class="relative bg-gray-950 bg-center w-full py-32"
      style="background-size: 64px 64px; background-image: linear-gradient(to right, #3339 1px, transparent 1px),
    linear-gradient(to bottom, #3339 1px, transparent 1px);"
    >
      <div class="max-w-2xl mx-auto text-balance px-4">
        <div class="font-medium">Baron Rodrigo</div>
        <div class="text-gray-500">Web Developer @ SMSGlobal</div>
        <div class="text-gray-500">Quezon City, Philippines</div>
        <h1
          class="mt-12 text-2xl border-l ps-4 border-gray-300 leading-9 text-gray-300"
        >
          Building web apps that stand the test of time in record time.
        </h1>
        <div class="mt-12">
          <button class="bg-orange-700 text-white rounded px-6 py-2"
            >Contact</button
          >
          <button
            class="border border-gray-700 bg-gray-800 text-white rounded px-6 py-2"
            >View resume</button
          >
        </div>
      </div>
    </div>

    <div class="max-w-2xl mx-auto p-4 mt-6 space-y-16">
      <section>
        <h2>About</h2>
        <p class="mt-4 text-balance">
          I realized my love for programming very early in life. At age 6, I
          distinctly remember a light bulb moment in my head as I was playing
          with <a>Scratch</a>. Fast forward to today, I now possess a trained
          eye for details and a deep understanding of paradigms, principles, and
          best practices that I have honed through years of experimenting with
          design and code — all to develop the best web apps in the world.
        </p>

        <p class="mt-4">
          During college, I've won multiple awards and competitions, and have
          had the honor to work for the government to develop an application for
          public transportation monitoring. Right now, I work for SMSGlobal.
        </p>

        <p class="mt-4">
          Outside of work, I'm passionate about tech and games. Here's my
          progress on some of the things I'm pursuing:
        </p>
        <ul class="mt-2 space-y-2">
          <StatItem icon="ph:computer-tower"
            >80 computers built and sold</StatItem
          >
          <StatItem icon="ph:text-t">130 WPM on MonkeyType</StatItem>
          <StatItem icon="ph:shield-star">
            <span class="bg-purple-700 font-medium px-2 py-1 rounded"
              >Master</span
            > in League of Legends
          </StatItem>
          <StatItem icon="ph:arrow-square-up-right-fill"
            ><span
              class="bg-gradient-to-br from-gray-400 to-gray-300 text-black font-medium px-2 py-1 rounded"
              >Advanced Lv. 1</span
            > on The World's Finest Dance Simulation Game</StatItem
          >
        </ul>
      </section>

      <section>
        <h2>Tech Stack</h2>
        <p class="mt-2">
          I can work with any language and tooling but here's what I work with
          best:
        </p>
        <ul class="grid grid-cols-3 sm:grid-cols-6 mt-4">
          {
            techStack.map(({ name, icon }) => (
              <li class="bg-white/10 hover:bg-white/20 transition duration-150 border border-black hover:border-gray-200/20 select-none rounded flex flex-col py-3 px-2 gap-3 items-center text-center">
                <Icon name={icon} size="28" />
                <div class="text-xs leading-none">{name}</div>
              </li>
            ))
          }
        </ul>
      </section>

      <section>
        <h2>Experience</h2>
      </section>

      <section>
        <h2>Projects</h2>
      </section>

      <section>
        <h2>My stats</h2>
      </section>

      <section>
        <h2>Contact</h2>
      </section>
    </div>
  </body>
</html>

<style>
  h2 {
    @apply uppercase text-gray-500 font-medium;
  }

  a {
    @apply underline text-orange-400 underline-offset-4;
  }
</style>
