---
import { Icon } from 'astro-icon/components'
const { icon } = Astro.props
---

<li class="flex">
  <Icon size={24} class="text-gray-500 shrink-0" name={icon} />
  <div class="ms-2"><slot /></div>
</li>
